tr
    th Ficheiro
    th Descrição
    th Timestamp
    each ficheiro in lista
        tr
            td
                a(href='/uploaded/'+ficheiro.nome)= ficheiro.nome
            td= ficheiro.desc
            td= ficheiro.timestamp