doctype html
html
    head
        title Tarefas
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/w3.css')
        style
            include stylesheets/select.css
            include stylesheets/table.css
    body
        block content